body{
    margin: 0;
    color: #333138;
}

/*Navigation Bar*/
.nav{
    background-color: #4E598C;
    height: 8.6vh;
}

.nav img{
    width: 65px;
    float: left;
}

.nav ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0 0 0 80%;
}

.nav li a{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    float: left;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 22px 25px;
}

/*Home Page*/
.container{
    overflow: hidden;
}

.content{
    float: left;
}

.heading{
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    font-weight: 100;
    margin-bottom: 3%;
}
.para{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 25px;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: #FCAF58;
    color: #000103;
    border: none;
    border-radius: 9px;
    padding: 12px 25px;
    cursor: pointer;
}

img.hero{
    width: 40%;
    float: right;
    position: relative;
    top: 70px;
    right: 190px;
}

.table_content{
    font-family: 'Roboto', sans-serif;
    width: 80%;
    margin: 6% 0;
    position: relative;
    left: 20%;
}

h5{
    margin: 0;
    font-size: 22px;
    font-weight: 400;
}

tt{
    font-size: 15px;
}

table{
    border: 1px solid white;
    border-bottom: 3px solid #4E598C;
    width: 75%;
    margin-top: 3%;
}

th{
    font-size: 14px;
    font-weight: 700;
    background-color: #4E598C;
    color: white;
    text-align: left;
    padding: 12px 0 12px 10px;
}

td{
    font-size: 12px;
    font-weight: 500;
    padding: 10px 10px;
}

/*Why HTML Page*/

.flex-container {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    background-color: rgb(255, 255, 255);
  }
  
.flex-container .box {
    background-color: #ffffff;
    width: 100%;
    margin: 10px;
    line-height: 20px;
}
.Title1 {
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    font-weight: 100;
    margin-bottom: 6%;
}

.T1-Para {
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.Title2 {
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.t2{
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 1% 0%;
}

.T2-Para {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

.Title3 {
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.T3-Para {
    font-family: 'Roboto', sans-serif;
    text-align: right;
}

.form {
    font-family: 'Roboto', sans-serif;
    width: 50%;
    margin: 5% 0% 5% 40%;
}

input[type="text"]{
    width: 30%;
    padding: 1%;
    border: 1px solid #333138;
    border-radius: 3px;
    margin-left: 10%;
    margin-bottom: 2%;
}

input[type="email"]{
    width: 30%;
    padding: 1%;
    border: 1px solid #333138;
    border-radius: 3px;
    margin-left: 11%;
    margin-bottom: 2%;
}

input[type="radio"] {
    margin: 0 2% 3% 9%;
}

input[type="checkbox"] {
    margin: 0 2% 3% 7%;
}

select#Select\ from\ list {
    width: 30%;
    padding: 1%;
    border: 1px solid #333138;
    border-radius: 3px;
    margin-left: 2%;
    margin-bottom: 2%;
}

textarea {
    width: 30%;
    padding: 1%;
    border: 1px solid #333138;
    border-radius: 3px;
    margin-left: 7%;
    margin-bottom: 2%;
}

.comment{
    position: relative;
    top: -50px;
}

input[type="submit"] {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: #FCAF58;
    color: #000103;
    border: none;
    border-radius: 9px;
    padding: 12px 25px;
    cursor: pointer;
    margin-left: 20%;
}

input[type="reset"] {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: white;
    color: #000103;
    border: none;
    border-radius: 9px;
    padding: 12px 25px;
    cursor: pointer;
}